@font-face {
    font-family: 'vi-my-ha-hoa';
    src: url('../fonts/vi-my-ha-hoa.ttf') format("truetype");
}

.navbar-brand {
    font-family: 'vi-my-ha-hoa';
    font-size: 3rem;
    word-spacing: 0.4rem;
}

.carousel-image {
    height: 400px;
    object-fit: cover !important;
}

.carousel-item>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-link{
    font-size: 40px;
}
.navbar-dark {
    --bs-navbar-color: #000000;
    --bs-navbar-hover-color: #000000;
    --bs-navbar-active-color: #000000;
}
.img1 {
    transition: filter 0.3s ease, background-color 0.3s ease;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.img1:hover {
    background-color: rgb(0, 255, 0); /* світло-зелене тло при наведенні */
    filter: brightness(1.2) saturate(1.5); /* зробити іконку яскравішою */
}
