{% extends "shop/_layout.html" %}
{% block content %}
<h2>{{ product.name }}</h2>
<img src="{{ product.get_image }}" alt="{{ product.name }}" style="max-width:300px;">
<p><strong>Price:</strong> ${{ product.price }}</p>
<p><strong>Category:</strong> {{ product.category }}</p>
<p><strong>Description:</strong> {{ product.description }}</p>
<p><strong>Rating:</strong> {{ product.rating }} ({{ product.review_count }} reviews)</p>
<a href="{% url 'home' %}">Back to Home</a>

<h1>Всі відгуки</h1>

{% if user.is_authenticated and user_review_exists %}
<button class="btn btn-secondary" disabled>Ви вже залишили відгук</button>
{% else %}
<a href="{% url 'create_review' product.id %}" class="btn btn-primary">Додати відгук</a>
{% endif %}


{% for review in reviews %}
  {% include 'shop/_review.html' %}
{% empty %}
  <p>Відгуків немає.</p>
{% endfor %}

{% endblock %}
